*.class

# Package Files #
*.jar
*.war
*.ear
/herald-session/herald-session-app/target/
/herald-session/herald-session-jee-api/target/
/herald-sso/herald-sso-api/target/
/herald-sso/herald-sso-web/target/
/herald-sso/herald-sso-core/target/